@use './color' as v;

@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Source+Code+Pro&display=swap');


html,body{
    scroll-behavior: smooth;
}

button, a {
    text-decoration: none;
    border: none;
    background: none;
}

button:hover, a:hover {
    color: white;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
    content:url(/img/ticketSmall.svg) url(/img/dinero.avif);   // load images
}

.btn-menu {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.15rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
}
.btn-menu:hover {
    border: 1px solid v.$verde;
    border-radius: 5px;
}

.btn-disponibles {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-top: 11rem;
    background-color: v.$navbar;
    border-color: v.$verde;
    color: white;
    border-style: solid;
    border-width: 2px;
    font-size: 1.2rem;
}

/*
*{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/