.navbar {
    height: 7vh;
}

.navbar-brand img {
    width: 2rem;
}
.home {
    text-align: center;
    height: 95vh;
    // background-color: rgb(30, 24, 39);
    background-color: #0f256e;
    display: flex;
    align-items: center;
}

.registro-ops {
    background-color: #0f256e;
}

.users {
    background-color: #00cc83;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ingresos {
    background-color: #00cc83;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.disponibles {
    background-color: #00cc83;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.participantes {
    background-color: #00cc83; 
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fa-power-off {
    color: rgb(225, 174, 23);
}

.ticket-apartado {
    padding: 1rem;
    border-radius: 0.7rem;
    min-width: 14rem;
    min-height: 10rem;
}

.user-apartado {
    background: rgb(63,179,251);
    background: radial-gradient(circle, rgba(63,179,251,1) 0%, rgba(65,182,251,1) 12%, rgba(70,252,221,1) 100%);
}

.user-vencido {
    background: rgb(251,251,63);
    background: radial-gradient(circle, rgba(251,251,63,1) 0%, rgba(236,251,65,1) 12%, rgba(252,197,70,1) 100%);
}

.user-comprado {
    background-color: #85bb65;
}

.container-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-square-check {
    cursor: pointer;
    color: #457d00; 
    font-size: 2rem;
}

.fa-trash {
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-size: 1.9rem;
}

.registro-view {
    background-color: #0f256e;
    min-height: 90vh;
}

.hr-apartado {
    border-color: #ff00ea;
}

.hr-compra {
    border-color: #00cc83;
}

.fa-circle-question {
    //background-color: rgb(0, 174, 255);
    font-size: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    right: 2rem;
    top: 9rem;
}

.fa-circle-helper {
    position: fixed;
    right: 2rem;
    top: 9rem;
}

.ops-apartado {
    color: white;
    border: 1px solid #ff00ea;
}

.ops-apartado:hover {
    color: black;
    background-color: #ff00ea;
}

.ops-comprado {
    color: white;
    border: 1px solid #00ffa6;
}

.ops-comprado:hover {
    color: black;
    background-color: #00ffa6;
}

.t-ganador {
    width: 11rem;
    background-color: #D4AF37;
}

.t-ganador:hover {
    color: black;
    font-weight: bold;
}

.buscar-boleto {
    color: white;
    border: 1px solid #9479da;
}

.buscar-boleto:hover {
    color: black;
    background-color: #9479da;
}

.buscar-usuario {
    color: white;
    border: 1px solid #00ffa6;
}
.buscar-usuario:hover {
    color: black;
    background-color: #00ffa6;
}

.set-apartado {
    color: white;
    border: 1px solid #d56fac;
}

.set-apartado:hover {
    color: black;
    background-color: #d56fac;
}

.set-comprado {
    color: white;
    border: 1px solid #88c053
}

.set-comprado:hover {
    color: black;
    background-color: #88c053;
}

.hr-aqua {
    border: 1px solid #00ffa6;
}

.hr-purple {
    border: 1px solid #9479da;
}

.hr-pink {
    border: 1px solid #d56fac;
}

.hr-green {
    border: 1px solid #88c053;
}

.hr-gold {
    border: 1px solid #D4AF37;
}

.boleto-comprado {
    background-color: #85bb65;
}

.boleto-apartado {
    background: rgb(251,251,63);
    background: radial-gradient(circle, rgba(251,251,63,1) 0%, rgba(236,251,65,1) 12%, rgba(252,197,70,1) 100%);
}

.reset-ganador {
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.507);
    position: absolute;
    bottom: 0;
}

.reset-ganador:hover {
    color: black;
}


@media (max-width: 575px) {
    .fa-circle-question {
        top: 12.6rem;
        right: 0.4rem;
    }
    .fa-circle-helper {
        top: 12.6rem;
        right: 0.4rem;
    }
    .navbar {
        height: 12rem;
    }
    .navbar-brand img {
        width: 6rem;
    }
    .home {
        height: auto;
    }
}

@media (max-width: 768px) {
    .fa-circle-question {
        // right: 0.4rem;
    }
    .fa-circle-helper {
        // top: 0.4rem;
    }
}