.navbar-brand img {
    width: 3rem;
}

.home {
    text-align: center;
    height: 88vh;
    background-color: rgb(30, 24, 39);
    display: flex;
    align-items: center;
}

.users {
    background-color: rgb(74, 240, 182);
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ingresos {
    background-color: rgb(74, 240, 182);
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.disponibles {
    background-color: rgb(74, 240, 182);
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.participantes {
    background-color: rgb(74, 240, 182); 
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fa-power-off {
    color: rgb(225, 174, 23);
}

.user-apartado {
    padding: 1rem;
    border-radius: 0.7rem;
    min-width: 14rem;
    min-height: 10rem;
}

.container-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-square-check {
    color: rgb(20, 99, 0);
    font-size: 2rem;
}

.fa-trash {
    color: rgb(186, 0, 0);
    font-size: 1.9rem;
}

.registro-view {
    min-height: 80vh;
}

.fa-circle-question {
    //background-color: rgb(0, 174, 255);
    font-size: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    right: 2rem;
    top: 9rem;
}

.fa-circle-helper {
    position: fixed;
    right: 2rem;
    top: 9rem;
}


@media (max-width: 575px) {
    .fa-circle-question {
        top: 12.6rem;
        right: 0.4rem;
    }
    .fa-circle-helper {
        top: 12.6rem;
        right: 0.4rem;
    }
    .navbar-brand img {
        width: 6rem;
    }
    .home {
        height: auto;
    }
}

@media (max-width: 768px) {
    .fa-circle-question {
        // right: 0.4rem;
    }
    .fa-circle-helper {
        // top: 0.4rem;
    }
}